In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

Matplotlib is building the font cache; this may take a moment.

In [29]:
data = pd.read_csv('movie_bd_v5.csv')
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [14]:
data.describe() # выведем основные статист. характеристики данных по каждому числовому признаку (типы int64 и float64)

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [266]:
data = pd.read_csv('movie_bd_v5.csv')
data.info() # так как незаполненных значений в строках и столбцах нет, это упрощает нам работу с данными

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [83]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [84]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# если ответили верно, можете добавить комментарий со значком "+"
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # "+"

## Предобработка

In [11]:
import pandas as pd
df = pd.read_csv('movie_bd_v5.csv')

ВАРИАНТ 1

In [17]:
df.groupby(['imdb_id'])['budget'].max().sort_values(ascending=False) # фильтруем столбец imdb_id по max значе.бюджета фильма по убыванию

imdb_id
tt1298650    380000000
tt0449088    300000000
tt2395427    280000000
tt0401729    260000000
tt0398286    260000000
               ...
tt0283111      5000000
tt0289043      5000000
tt2101441      5000000
tt2870612      5000000
tt4178092      5000000
Name: budget, Length: 1889, dtype: int64

ВАРИАНТ 2

In [14]:
# можно добавлять разные варианты решения
df.budget.max() # для проверки можем вывести только максимальное занчение бюджета среди всех фильмов

380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [85]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' # "+"

ВАРИАНТ 1

In [18]:
df.groupby(['imdb_id'])['runtime'].max().sort_values(ascending=False)

imdb_id
tt0279111    214
tt0167260    201
tt0462322    191
tt0360717    187
tt0213149    183
            ...
tt0361089     76
tt0299172     76
tt0283426     72
tt0280030     72
tt1449283     63
Name: runtime, Length: 1889, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [86]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' # "+"

ВАРИАНТ 1

In [19]:
df.groupby(['imdb_id'])['runtime'].min().sort_values(ascending=True) # сортируем фильмы по возрастанию длит-сти в минутах

imdb_id
tt1449283     63
tt0280030     72
tt0283426     72
tt0299172     76
tt0361089     76
            ...
tt0213149    183
tt0360717    187
tt0462322    191
tt0167260    201
tt0279111    214
Name: runtime, Length: 1889, dtype: int64

ВАРИАНТ 2

In [21]:
df.groupby(['imdb_id'])['runtime'].min().sort_values(ascending=True).index[0] # можем вывести самое 1 значение imdb_id 
# фильма, у которого самое короткая длительность в минутах

'tt1449283'

# 4. Какова средняя длительность фильмов?

In [87]:
answers['4'] = '2. 110' # "+"

ВАРИАНТ 1

In [22]:
data.describe() # выведем основные статист. характеристики данных по каждому числовому признаку (типы int64 и float64)

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# 5. Каково медианное значение длительности фильмов?

In [88]:
answers['5'] = '1. 107' # "+"

ВАРИАНТ 1

In [23]:
data.describe() # выведем основные статист. характеристики данных по каждому числовому признаку (типы int64 и float64)

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

## Предобработка

In [24]:
# лучше код получения столбца profit вынести в Предобработку что в начале
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data2 = data.copy()
data2['profit'] = data2['revenue'] - data2['budget'] # создаем столбец profit
display(data2) # выведем таблицу для предпросмотра

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

In [89]:
answers['6'] = '5. Avatar (tt0499549)' # "+"

ВАРИАНТ 1

In [25]:
data2.groupby(['imdb_id'])['profit'].max().sort_values(ascending=False) # найдем imdb_id фильма с max значением profit

imdb_id
tt0499549    2544505847
tt2488496    1868178225
tt0369610    1363528810
tt2820852    1316249360
tt0848228    1299557910
                ...
tt0424095     -84540684
tt0180052     -92896027
tt1305591    -111007242
tt0318974    -119180039
tt1210819    -165710090
Name: profit, Length: 1889, dtype: int64

# 7. Какой фильм самый убыточный?

In [90]:
answers['7'] = '5. The Lone Ranger (tt1210819)' # "+"

ВАРИАНТ 1

In [26]:
data2.groupby(['imdb_id'])['profit'].min().sort_values(ascending=True) # найдем imdb_id фильма с min значением profit

imdb_id
tt1210819    -165710090
tt0318974    -119180039
tt1305591    -111007242
tt0180052     -92896027
tt0424095     -84540684
                ...
tt0848228    1299557910
tt2820852    1316249360
tt0369610    1363528810
tt2488496    1868178225
tt0499549    2544505847
Name: profit, Length: 1889, dtype: int64

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [91]:
answers['8'] = '1. 1478' # "+"

ВАРИАНТ 1

In [27]:
data2[data2['revenue'] > data2['budget']].info() # более детальную информацию о колонках в данном DataFrame

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   object
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
 14  profit                1478 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 184.8+ KB

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [92]:
answers['9'] = '4. The Dark Knight (tt0468569)' # "+"

ВАРИАНТ 1

In [194]:
data3 = data2[data2.release_year==2008]
grouped_df = data3.groupby(['imdb_id'])[['revenue']].max().sort_values(by='revenue', ascending=False).head()
display(grouped_df)  # найдем 5 первых imdb_id фильмов с max знач.revenue в 2008 году

              revenue
imdb_id
tt0468569  1001921825
tt0367882   786636033
tt0441773   631744560
tt0448157   624029371
tt0795421   609841637

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [93]:
answers['10'] = '5. The Lone Ranger (tt1210819)' # "+"

ВАРИАНТ 1

In [29]:
data3 = data2[(data2.release_year >= 2012) & (data2.release_year <= 2014)]
grouped_df = data3.groupby(['imdb_id'])[['profit']].min().sort_values(by='profit', ascending=True).head()
display(grouped_df) # найдем 5 imdb_id самых убыточных фильмов за период с 2012 по 2014 г. (включительно)

              profit
imdb_id
tt1210819 -165710090
tt0790736  -68351500
tt1374992  -51893525
tt0884726  -51337973
tt1308729  -45510171

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

## Предобработка

In [30]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data2 = data.copy()
data2['profit'] = data2['revenue'] - data2['budget']
data2['genres'] = data2.genres.str.split('|')
data3 = data2.explode('genres')

In [94]:
answers['11'] = '3. Drama' # "+"

ВАРИАНТ 1

In [31]:
data3['genres'].value_counts().sort_values(ascending=False)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [95]:
answers['12'] = '1. Drama'
# мои ответы были Action или Adventure, но они ошибочные, на мой взгляд ответ Drama, код Вариант 2.

ВАРИАНТ 1

In [32]:
data3.groupby(['genres'])['profit'].max().sort_values(ascending=False)

genres
Action             2544505847
Science Fiction    2544505847
Adventure          2544505847
Fantasy            2544505847
Thriller           1363528810
Crime              1316249360
Family             1202817822
Animation          1124219009
Comedy             1082730962
Drama               831041287
Mystery             788212738
Romance             709000000
War                 490523427
Horror              435349010
History             399211549
Western             397950503
Music               380809770
Documentary         113114517
Foreign              -5000000
Name: profit, dtype: int64

ВАРИАНТ 2

In [50]:
import pandas as pd
df = pd.read_csv('movie_bd_v5.csv')
df2 = df.query('revenue > budget').copy() # добавим способ фильтрации, что сборы больше бюджета и скопируем DataFrame
df2['genres'] = df2.genres.str.split('|')
df2=df2.explode('genres')
df2.genres.value_counts().head(10)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Name: genres, dtype: int64

ВАРИАНТ 3

In [33]:
data3.groupby(['genres'])['profit'].sum().sort_values(ascending=False)

genres
Adventure          86070466981
Action             80187900065
Comedy             59774752721
Fantasy            49716648913
Drama              49257224159
Thriller           46740546578
Family             46714255385
Science Fiction    40771890654
Animation          30680622718
Romance            23992150965
Crime              20261017900
Mystery            11752971178
Horror             10584197147
Music               4720498315
War                 4405027096
History             3046143524
Western             1022632954
Documentary          392078032
Foreign              -13444012
Name: profit, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

## Преобработка

In [34]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
df = data.copy()
df['director'] = df.director.str.split('|') # разделим режиссеров в список в 1 ячейке
df2 = df.explode('director') # разделим режиссеров из списка в отдельные строки

In [96]:
answers['13'] = '5. Peter Jackson' # "+"

ВАРИАНТ 1

In [35]:
df2.groupby(['director'])['revenue'].sum().sort_values(ascending=False) # сортируем режиссеров по "max" значению суммы
# кассовых сборов

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

ВАРИАНТ 2

In [36]:
df2.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0] # выведем 1 значение в данной группировке

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

## Предобработка

In [37]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')

In [97]:
answers['14'] = '3. Robert Rodriguez' # "+"

ВАРИАНТ 1

In [38]:
data[data['genres'].str.contains('Action')]['director'].value_counts().sort_values(ascending=False).head(10)

Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
Robert Rodriguez      6
Roland Emmerich       5
Peter Jackson         5
Rob Cohen             5
Tony Scott            5
Andrzej Bartkowiak    5
Name: director, dtype: int64

ВАРИАНТ 2

In [39]:
data[data['genres'].str.contains('Action')]['director'].value_counts().sort_values(ascending=False)

Paul W.S. Anderson            7
Michael Bay                   7
Ridley Scott                  6
Antoine Fuqua                 6
Robert Rodriguez              6
                             ..
Josh Trank                    1
Jay Chandrasekhar             1
Albert Hughes|Allen Hughes    1
Michel Gondry                 1
Ben Garant                    1
Name: director, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

## Предобработка

In [40]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
df1 = data[data['release_year'] == 2012].copy() # задаем условие, чтобы делать выборку по году выхода фильмов только в 2012г.
df1['cast'] = df1.cast.str.split('|') # разделим актеров в список в 1 ячейке
df2 = df1.explode('cast') # разделим актеров из списка в отдельные строки

In [98]:
answers['15'] = '3. Chris Hemsworth' # "+"

ВАРИАНТ 1

In [41]:
df2.groupby(['cast'])['revenue'].sum().sort_values(ascending= False).head()

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

## Предобработка

In [42]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
df1 = data[data.budget > data.budget.mean()].copy()
df1['cast'] = df1.cast.str.split('|')
df2 = df1.explode('cast')

In [99]:
answers['16'] = '3. Matt Damon'
# мои ответы были Tom Cruise или Angelina Jolie, но они ошибочные, на мой взгляд ответ Matt Damon, но написанные варианты 
# кода дают иные ответы, где ошибка, не понимаю.

ВАРИАНТ 1

In [43]:
df2.groupby(['cast'])['budget'].sum().sort_values(ascending= False).head(10)

cast
Johnny Depp          2250000000
Ian McKellen         1935000000
Hugh Jackman         1922000000
Tom Cruise           1702000000
Angelina Jolie       1665000000
Daniel Craig         1623000000
Robert Downey Jr.    1537000000
Will Smith           1487000000
Emma Watson          1465000000
Matt Damon           1441000000
Name: budget, dtype: int64

ВАРИАНТ 2

In [44]:
df2.groupby(['cast'])['budget'].nunique().sort_values(ascending= False) # считаем кол-во уникальных значений

cast
Angelina Jolie       13
Tom Cruise           13
Samuel L. Jackson    13
Russell Crowe        12
Nicolas Cage         12
                     ..
Lester Speight        1
Leslie Stefanson      1
Leslie Bibb           1
Leonard Nimoy         1
50 Cent               1
Name: budget, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

## Предобработка

In [45]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
df = data.copy()
df['cast'] = df.cast.str.split('|')
df1 = df.explode('cast')

In [100]:
answers['17'] = '2. Action'
# мои ответы были Crime или Thriller, но они ошибочные, на мой взгляд ответ Action. Не смог определиться точно, 
# так как варианты кода выдавали сразу несколько жанров.

ВАРИАНТ 1

In [46]:
df1.groupby([df1['cast'].str.contains('Nicolas Cage')])['genres'].sum().sort_values(ascending=False)

cast
True     Thriller|Action|Science FictionAction|Adventur...
False    Action|Adventure|Science Fiction|ThrillerActio...
Name: genres, dtype: object

ВАРИАНТ 2

In [47]:
df1[df1['cast'].str.contains('Nicolas Cage')].groupby(by = 'cast')['genres'].min().sort_values(ascending=True)

cast
Nicolas Cage    Action|Adventure|Drama|Mystery|Science Fiction
Name: genres, dtype: object

ВАРИАНТ 3

In [49]:
df1[df1['cast'].str.contains('Nicolas Cage')]['genres'].value_counts().sort_values(ascending=False).head(10)

Crime|Drama|Thriller                       2
Action|Crime|Thriller                      2
Thriller|Crime                             1
Action|Adventure|Mystery|Thriller          1
Fantasy|Adventure|Action|Comedy|Drama      1
Comedy|Drama|Romance|Fantasy               1
Action|Fantasy|Thriller                    1
Action|Crime|Drama|Thriller                1
Adventure|Fantasy|Action                   1
Animation|Action|Family|Science Fiction    1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

## Предобработка

In [51]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data2 = data.copy()
data2['profit'] = data2['revenue'] - data2['budget']
data2['production_companies'] = data2.production_companies.str.split('|')
data3 = data2.explode('production_companies')

In [101]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # "+"

ВАРИАНТ 1

In [52]:
data3.groupby([data3['production_companies'].str.contains('Paramount Pictures')])['profit'].min().sort_values(ascending=True)

production_companies
False   -165710090
True     -64831034
Name: profit, dtype: int64

In [53]:
data2[data2.profit == -64831034] # найдем строку со значением profit = -64831034

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,"[Paramount Pictures, Intermedia Films, Nationa...",7/19/2002,6.0,2002,-64831034

ВАРИАНТ 2

In [54]:
data3[data3['production_companies'].str.contains('Paramount Pictures')].groupby(by = 'original_title')['profit'].min().sort_values(ascending=True)
# выведем информацию о прибыле/убытке по каждому фильму в порядке возарастания.

original_title
K-19: The Widowmaker                                  -64831034
Timeline                                              -60519261
Next                                                  -51788987
Alfie                                                 -46604061
Twisted                                               -24805000
                                                        ...
Mission: Impossible - Ghost Protocol                  549713380
Transformers                                          559709780
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers: Revenge of the Fallen                   686297228
Transformers: Dark of the Moon                        928746996
Name: profit, Length: 122, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

## Предобработка

In [55]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')

In [102]:
answers['19'] = '5. 2015' # "+"

ВАРИАНТ 1

In [56]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

## Предобработка

In [62]:
import pandas as pd
import datetime as dt
data = pd.read_csv('movie_bd_v5.csv')
data2 = data.copy()
data2['profit'] = data2['revenue'] - data2['budget']
data2['release_date'] = pd.to_datetime(data2['release_date'])
data2['release_date'] = data2.release_date.apply(lambda x: x.strftime('%B')) # выведем полное название месяца
data2['production_companies'] = data2.production_companies.str.split('|')
data3 = data2.explode('production_companies')

In [103]:
answers['20'] = '1. 2014' # "+"

ВАРИАНТ 1

In [63]:
data3[data3['production_companies'].str.contains('Warner Bros')].groupby(by = 'release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [104]:
answers['21'] = '4. Сентябрь' # "+"

ВАРИАНТ 1

In [61]:
data2.release_date.describe() # посмотрим статистику по строчному признаку (object), а именно по release_date

count          1889
unique           12
top       September
freq            227
Name: release_date, dtype: object

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [105]:
answers['22'] = '2. 450' # "+"

ВАРИАНТ 1

In [64]:
data2.query('release_date in ["June", "July", "August"]').value_counts('original_title').sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

## Предобработка

In [65]:
import pandas as pd
import datetime as dt
df = pd.read_csv('movie_bd_v5.csv')
df2 = df.copy()
df2['release_date'] = pd.to_datetime(df2['release_date'])
df2.release_date = df2.release_date.apply(lambda x: x.strftime('%B')) # выведем полное название месяца

In [106]:
answers['23'] = '5. Peter Jackson' # "+"

ВАРИАНТ 1

In [66]:
df2['director'] = df2.director.str.split('|') # разделяем режиссеров в список в 1 ячейке
df2=df2.explode('director') # разделяем режиссеров из списка в отдельные строки
df2.query('release_date in ["December", "January", "February"]').value_counts('director').head(5)

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Adam Shankman        4
dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [107]:
answers['24'] = '5. Four By Two Productions' # "+"

ВАРИАНТ 1

In [67]:
df2['production_companies'] = df2.production_companies.str.split('|') # Разделяем студии в список в 1 ячейке
df3 = df2.explode('production_companies') # разделяем студии из списка в отдельные строки
df3['title_len'] = df3['original_title'].apply(len) # форммируем новый столбец с длинной символов
df3.groupby('production_companies').title_len.mean().sort_values(ascending = False)
# группируем по студиям с подсчетом средней длины и сортируем по убыванию

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

## Предобработка

In [73]:
import pandas as pd
import datetime as dt
df = pd.read_csv('movie_bd_v5.csv')
df1 = df.copy()
df1['production_companies'] = df1.production_companies.str.split('|')
df2 = df1.explode('production_companies')

In [108]:
answers['25'] = '3. Midnight Picture Show' # "+"

ВАРИАНТ 1

In [74]:
def len_words(s):
    return len(s.split(' '))
df2['len_overview'] = df2.overview.apply(len_words) # или как вариант lambda функция(lambda x:len(x.split(' ')))
pivot_studios = df2.pivot_table(['len_overview'],['production_companies'], aggfunc='mean').sort_values(by='len_overview', ascending = False)

In [10]:
pivot_studios

                                       len_overview
production_companies
Midnight Picture Show                         175.0
Heineken Branded Entertainment                161.0
Room 9 Entertainment                          161.0
98 MPH Productions                            159.0
Brookwell-McNamara Entertainment              156.0
...                                             ...
Henceforth                                     13.0
Our Stories Films                              13.0
London Boulevard                               13.0
Motion Picture Corporation of America          11.0
Empire Pictures                                11.0

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [109]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # "+"

ВАРИАНТ 1

In [80]:
df1[df1['vote_average'] > df1['vote_average'].quantile(q=0.99)].original_title # граница 99%
# выведем названия фильмов, которые входят в 1% лучших по рейтингу

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

## Предобработка

In [77]:
import pandas as pd
import itertools
df = pd.read_csv('movie_bd_v5.csv')
df1 = data.copy()

In [110]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' # "+"

ВАРИАНТ 1

In [78]:
# разделим актеров в список в 1 ячейке, далее с помощью функции combinations() модуля itertools сгенеруем сочетания 
# элементов списка без повторений.
df1['cast'] = df1.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
df2 = df1.explode('cast') # разделяем актеров из списка в отдельные строки
display(df2.cast.value_counts()) # посчитаем, сколько раз каждая пара актеров встречается в столбце Cast

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
                                      ..
(Edward Herrmann, Cary Elwes)          1
(Larenz Tate, Timothy Olyphant)        1
(Vince Vaughn, Leah Remini)            1
(Danny Huston, Shawn Roberts)          1
(Cate Blanchett, Ray Winstone)         1
Name: cast, Length: 18121, dtype: int64

# Submission

In [111]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [112]:
# и убедиться что ни чего не пропустил)
len(answers)

27